/* START: Overrides for bbUI.css specifically for Lemma. */
body, html {
	font-family: 'DejaVu Sans', Helvetica, Arial, sans-serif;
	background-color: white;
}

.bb-hires-screen {
	font-size: 20px;
	width: 1024px;
}

.bb-hires-image-list .details
{
	position: relative;
	margin-left: 0;
	margin-bottom: 0;
}

.bb-hires-image-list-item .title
{
	font-size: 15px;
	font-weight: bold;
	color: black;
	overflow: hidden;
}

.bb-hires-image-list-item-hover .title
{
	font-size: 15px;
	font-weight: bold;
	color: white;
	overflow: hidden;
}

.bb-hires-image-list .description
{
	color: black;
	overflow: hidden;
	white-space: normal;
	font-size: 17px;	
	line-height: 24px;
	margin-bottom: 0px;
}

.bb-hires-image-list-item-hover .description
{
	color: white;
	overflow: hidden;
	white-space: normal;
	font-size: 17px;	
	line-height: 24px;
	margin-bottom: 0px;
}

.bb-hires-image-list-item
{
	border-bottom: solid 1px #D9DCDE;
	padding-top: 10px;	
	padding-left: 5px;
	padding-bottom: 0px;
	overflow:hidden;
	height: 76px;
}

.bb-hires-image-list-item-hover
{
	/*background-color:#2175F7;*/
	background-image: -webkit-gradient(linear, center top, center bottom, from(#0dacff), to(#0f75ff));
	border-bottom: solid 1px #D9DCDE;
	padding-top: 10px;	
	padding-left: 5px;
	padding-bottom: 0px;
	overflow:hidden;
	height: 76px;
}

.bb-hires-image-list img
{
	position:relative;
	left: 0;	
	float: left;
	height: 73px;
	width: 73px;
	top: -3px;
	margin-right: 20px;
}
/* END: Overrides for bbUI.css specifically for Lemma. */

/* START: Style buttons in the QNX style. */
button.qnx:hover, 
button.qnx.touched {
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(1, rgb(6,168,233)),
	    color-stop(0, rgb(0,113,199))
	);
	border: 1px #2ccfff solid;
	color: #ffffff;
}

button.qnx { 
	background-color: #F0F0F0;
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#D1D2D4), to(#FCFCFC));
	border: 1px solid #B0B0B0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: black;
	font-family: 'DejaVu Sans', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 45px;
	padding-left: 25px;
	padding-right: 25px;
}
/* END: Style buttons in the QNX style. */

.date {
	float: right;
	font-size: 12px;
	color: #888888;
	padding-right: 10px;
}

.spanlinks {
	color: #2489CE;
	font-weight: normal;
	text-decoration: underline;
}

.retweet {
	width: 16px; 
	height: 10px; 
	top: 0; 
}

.toolbar {
	z-index: 100; 
	position: fixed; 
	bottom: 0; 
	width: 1024px; 
	height: 30px; 
	background-color: black; 
	color: white; 
	padding: 16px 8px 8px 8px;
}

.toolbar div img {
	margin: 0 10px 0 10px; 
}